body {
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: lighter;
}
 
header {
    background-image: url(image/avian-flu.jpg);
    color: rgb(230, 250, 230);
    font-weight: bold;
    width: 1140px;
    height: 350px;
    text-align: center;
    margin: 0 auto;
}
 
#title {
    display: inline-block;
    font-size: 68px;
    padding-top: 40px;
    width: 960px;
}
 
#titlebottom {
    display: inline-block;
    box-sizing: border-box;
    width: 960px;
    font-size: 22px;
    padding: 30px 70px 100px 70px;
}
 
section {
    width: 960px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(200, 200, 200);
}
 
#topics {
    width: 960px;
    height: 620px;
    margin: 0 auto;
}
 
#topics>div:first-child {
    font-size: 35px;
    text-align: center;
    margin: 40px auto 30px auto;
}
 
#topicIntroduction {
    display: flex;
    justify-content: space-between;
}
 
#topicIntroduction div {
    width: 300px;
    height: 280px;
}

#topicIntroduction title {
    text-align: center;
    width: 260px;
    font-size: 30px;
}
 
#topicIntroduction img {
    max-width: 50%; 
    max-height: 50%;
    display: table-cell;
    text-align: center;
}

#scripts div{
    object-position: center;
}

#sliderBlock{
    display: flex;
    justify-content: space-between;
}

#sliderBlock div {
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#countryText{
    font-size: 24px;
    font-weight: bold;
}

#countryText span{
    font-size: 18px;
    color: rgb(224, 30, 72);
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(175, 76, 122);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }


          